################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/bin/Debug
/Web/obj/Debug
/Web/App.config
/Web/Web.csproj
/Web/Web.csproj.user
/Sailplan.sln
*.suo
