@charset 'UTF-8';

.form {
	font-size: 20pt;
}

.form label { 
	clear: both; 
  display: block; 
  float: left; 
	text-align: right;
  width: 8em; 
}

.form input {
	font-size: 18pt;
	width: 2.5em;
}

.form button {
	font-size: 20pt;
}

canvas { 
    border: 1px solid black; 
}
